{% extends 'base.html.twig' %}

{% block title %}Бюджеты{% endblock %}

{% block body %}
    <h1>Бюджеты</h1>

    <div>
        {% for budget in budgets %}
            <div><a href="{{ path('budget', { id: budget.id }) }}">{{ budget }}</a></div>
        {% endfor %}
    </div>

{% endblock %}
